@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.pumpkin-stage {
  position: inline-block;
  inset: 0;
  pointer-events: none;
  z-index: 10;
}

.pumpkin-group {
  position: absolute;
  inset: 0;
}

.pumpkin-dragger {
  position: absolute;
  border-radius: 50%;
  cursor: grab;
  pointer-events: all;
}

.pumpkin-dragger:active {
  cursor: grabbing;
}

.pumpkin-creature {
  position: absolute;
}

.pumpkin-body {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background: radial-gradient(circle at 30% 30%, rgba(255, 166, 0, 0), #00000000);
  filter: drop-shadow(0 0 10px rgba(255, 166, 0, 0.079));
}

.pumpkin-stem {
  position: absolute;
  background: #2d501600;
  border-radius: 4px;
}

.particle {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.ghost-particle {
  font-size: 20px;
  opacity: 0.85;
}

.ground-particle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
